body{
  background-color:#96DCF3;
}
h2{
  color: #132062;
}
h4{
  color: #132062;
}
p{
  color: #132062;
}
.game-bg {
  position: relative;
  top: 0;
  left: 0px;
}
.arc{
  position: absolute;
  top: 35px;
  right: 100px;
}
.cloud{
  position: absolute;
  top: 30px;
  left: 400px;
}
.flowers{
  position: absolute;
  bottom:0px;
  left:17px;
}
.butterflies1{
  position: absolute;
  bottom: 100px;
  left: 130px;
}
.butterflies2{
  position: absolute;
  bottom: 140px;
  left: 420px;
}
.duck{
  position:absolute;
  bottom:30px;
  right:95px;
}
.tree{
  position: absolute;
  top: 80px;
  left: 50px;
}
.sam {
  position:absolute;
  top: 300px;
  left: 520px;
  filter:contrast(130%);
}
.opa:hover {
  opacity: .9;
}
button {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline: none;
    }
